<!doctype html>
<html lang="zh-ch">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/home.css') }}">
    <script src="{{ url_for('assets', path='/dist/js/jquery.min.js') }}/"></script>
    <script src="{{ url_for('assets', path='/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/js.cookie.min.js') }}/"></script>
    <title>在线识别</title>

</head>
<body>
<header id="lk_header">

    <nav class="navbar navbar-expand-lg navbar-light" navbar-lk>
        <div class="container">
            <a class="navbar-brand " href="/">极速 OCR</a>

            <div id="user">
                <div class="container">
                    <div class="dropdown">
                        <a href="#" id="imageDropdown" data-toggle="dropdown">
                            <img alt="user photo" style='max-width: 50%' class='img-thumbnail rounded-circle'
                                 id="userPhoto"
                                 src="">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="imageDropdown">
                            <li><a class="dropdown-item" tabindex="-1" href="/my" style="text-align: center">个人信息</a>
                            </li>
                            <li><a id='logoutButton' class="dropdown-item" tabindex="-1" href="/"
                                   style="text-align: center">登出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 mx-auto col-md-6 order-md-2"><img class="img-fluid mb-3 mb-md-0"
                                                                src="{{ url_for('assets', path='images/home.jpg') }}"
                                                                alt=""
                                                                width="1024" height="860"></div>
            <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3 bd-text-purple-bright">极速OCR</h1>
                <p class="lead"></p>
                <p class="lead mb-4">
                    极速OCR文字识别软件是一款具备较高识别率的图像文字识别软件，拥有批量处理和高速识别功能；软件支持多国语言识别，支持多种文件格式如：JPG、GIF、PNG、BMP、TIF、PDF文件和扫描件。</p>
                <div class="row mx-n2">

                    <div>

                        <a id="down" href="#OCR-cards-container" class="btn btn-lg btn-block btn-primary">开始使用</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container" id="OCR-cards-container">
    <div class="card-deck mb-3 text-center" id="OCR-cards">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">文字识别</h4>
            </div>
            <div class="card-body">
                <div style="height:110px;">
                    <div class="col-6 mx-auto col-md-6 order-md-2"><img class="img-fluid mb-5 mb-md-5"
                                                                        src="{{ url_for('assets', path='images/word.png') }}"
                                                                        alt="" width="100" height="100"></div>
                </div>
                <ul class="list-unstyled mt-3 mb-3">
                    <li>文字识别</li>
                    <li>优美句子</li>
                    <li>一键提取</li>
                </ul>
                <a href="/normal-ocr">
                    <button type="button" class="btn btn-lg btn-block btn-primary">开始上传</button>
                </a>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">书籍扫描</h4>
            </div>
            <div class="card-body">
                <div style="height:110px;">
                    <div class="col-6 mx-auto col-md-6 order-md-2"><img class="img-fluid mb-5 mb-md-5"
                                                                        src="{{ url_for('assets', path='images/book.jpg') }}"
                                                                        alt=""
                                                                        width="100" height="100"></div>
                </div>
                <ul class="list-unstyled mt-3 mb-3">
                    <li>图书杂志</li>
                    <li>故事文章</li>
                    <li>轻松读取</li>
                </ul>
                <a href="/book-ocr">
                    <button type="button" class="btn btn-lg btn-block btn-primary">开始扫描</button>
                </a>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">证件识别</h4>
            </div>
            <div class="card-body">
                <div style="height:110px;">
                    <div class="col-6 mx-auto col-md-6 order-md-2"><img class="img-fluid mb-5 mb-md-5"
                                                                        src="{{ url_for('assets', path='images/card.jpg') }}"
                                                                        alt=""
                                                                        width="100" height="100"></div>
                </div>
                <ul class="list-unstyled mt-3 mb-3">
                    <li>简单快捷</li>
                    <li>准确高效</li>
                    <li>支持多种证件</li>
                </ul>
                <a href="/card-ocr">
                    <button type="button" class="btn btn-lg btn-block btn-primary">开始读取</button>
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>

<script>
    $(document).ready(function () {
        $('#down').on('click', function () {
            $('html, body').animate({scrollTop: $(this.hash).offset().top - 50}, 1000);
            return false;
        });
        $.ajax({
            type: "GET",
            url: '/user/name',
            dataType: "json"
        }).done(function (response) {
            let name = response["name"];
            $.ajax({
                type: "GET",
                url: '/user/photo',
                dataType: "json"
            }).done(function (response) {
                $('#userPhoto').attr("src", "/" + response["user_photo_path"]);
            });
            $('#logoutButton').unbind("click").bind("click", function () {
                Cookies.remove('access-token');
                $.ajax({
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRF-TOKEN", Cookies.get("csrf_access_token"));
                    },
                    type: "DELETE",
                    url: '/logout'
                });
            });
        }).fail(function (err) {
            $('#user').html("<a href=\"/register\">\n" +
                "                    <button type=\"button\" class=\"btn btn-danger\">注册</button>\n" +
                "                </a>\n" +
                "                <a href=\"/login\">\n" +
                "                    <button type=\"button\" class=\"btn btn-primary\">登录</button>\n" +
                "                </a>");
        });
    });
</script>
