<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/login.css') }}">
    <script src="{{ url_for('assets', path='/dist/js/jquery.min.js') }}/"></script>
    <script src="{{ url_for('assets', path='/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/js.cookie.min.js') }}/"></script>

</head>

<body class="text-center">
<form class="form-login">
    <h1 class="h3 mb-3 font-weight-normal">用户登录</h1>
    <label for="username" class="sr-only">用户名</label>
    <input id="username" class="form-control" placeholder="用户名" required autofocus>
    <label for="password" class="sr-only">密码</label>
    <input type="password" id="password" class="form-control" placeholder="密码" required>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="login-button">登录</button>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">登录失败</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                用户名或密码不正确！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(document).ready(function () {
        $("button#login-button").unbind("click").bind("click", function () {
            $.ajax({
                type: "POST",
                url: '/token',
                data: {username: $("#username").val(), password: $("#password").val()},
                dataType: "json"
            }).done(function (response) {
                $(location).attr('href', '/my');
            }).fail(function (err) {
                //Error during request
                $('#exampleModal').modal('show');
            });
        });
    });
</script>