<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/component-dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/ocr.css') }}">
    <script src="{{ url_for('assets', path='/dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/js.cookie.min.js') }}/"></script>
    <script src="{{ url_for('assets', path='/dist/js/dropzone.min.js') }}"></script>
    <title>在线识别</title>
</head>

<body class="text-center">
<nav class="navbar navbar-expand-lg navbar-light" navbar-lk>
    <div class="container">
        <a class="navbar-brand " href="/">极速 OCR</a>

        <div id="user">
            <div class="container">
                <div class="dropdown">
                    <a href="#" id="imageDropdown" data-toggle="dropdown">
                        <img alt="user photo" style='max-width: 50%' class='img-thumbnail rounded-circle'
                             id="userPhoto"
                             src="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="imageDropdown">
                        <li><a class="dropdown-item" tabindex="-1" href="/my" style="text-align: center">个人信息</a>
                        </li>
                        <li><a id='logoutButton' class="dropdown-item" tabindex="-1" href="/"
                               style="text-align: center">登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 200px;">
    <div class="row align-items-center">
        <div class="col-12">
            <h1>
                上传你的图片
            </h1>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 50px;">
        <div class="col-12 col-md-8 text-center mb-3">
            <div id="dropzone" class="dropzone dz-clickable">
                <input type="hidden" name="ocr_type" value="{{ocr_type}}"/>
                <div class="dz-default dz-message"><span>Drop files here or<br>click to upload...</span></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="normalResultModal" tabindex="-1" aria-labelledby="normalResultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="normalResultModalLabel">识别结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="normalResult">
                无法显示结果
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bookResultModal" tabindex="-1" aria-labelledby="bookResultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookResultModalLabel">识别结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bookResult">
                无法显示结果
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cardResultModal" tabindex="-1" aria-labelledby="cardResultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cardResultModalLabel">识别结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cardResult">
                无法显示结果
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">发生错误</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorMessage">
                网络出错啦！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<script>
    Dropzone.autoDiscover = false;
    let ocr_type = '{{ocr_type}}';
    let pretty_card_type = {"ID Card": "身份证", "Union Pay Card": "银行卡"};

    function initDropzone(uploadUrl) {
        $("div#dropzone").dropzone({
            url: uploadUrl,
            headers: {"X-CSRF-TOKEN": Cookies.get("csrf_access_token")},
            init: function () {
                this.on('success', function (file, responseText) {
                    this.removeAllFiles();
                    if (ocr_type === "normal") {
                        $('#normalResultModal').modal('show');
                        let result = responseText['result'];
                        $('#normalResult').empty();
                        for (const i of result) {
                            $('#normalResult').append("<p>" + i + "</p>");
                        }
                    }
                    if (ocr_type === "book") {
                        $('#bookResultModal').modal('show');
                        let result = responseText['result'];
                        $('#bookResult').empty();
                        $('#bookResult').append("<p>" + result + "</p>");
                    }
                    if (ocr_type === "card") {
                        $('#cardResultModal').modal('show');
                        let result = responseText['result'];
                        let card_type = result.shift();
                        $('#cardResult').empty();
                        $('#cardResult').append("<h2 style='text-align: center'>证件类型：" + pretty_card_type[card_type] + "</h2>");
                        for (const i of result) {
                            $('#cardResult').append("<p>" + i + "</p>");
                        }
                    }
                });
                this.on('error', function () {
                    if (ocr_type === "card") {
                        $('#errorMessage').html("无法猜测证件类型");
                    }
                    $('#errorModal').modal('show');
                    this.removeAllFiles();
                });
            }
        });
    }

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '/user/name',
            dataType: "json"
        }).done(function (response) {
            let name = response["name"];
            $.ajax({
                type: "GET",
                url: '/user/photo',
                dataType: "json"
            }).done(function (response) {
                $('#userPhoto').attr("src", "/" + response["user_photo_path"]);
            });
            $('#logoutButton').unbind("click").bind("click", function () {
                Cookies.remove('access-token');
                $.ajax({
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRF-TOKEN", Cookies.get("csrf_access_token"));
                    },
                    type: "DELETE",
                    url: '/logout'
                });
            });
            initDropzone("/user/history/" + ocr_type);
        }).fail(function (err) {
            $('#user').html("<a href=\"/register\">\n" +
                "                    <button type=\"button\" class=\"btn btn-danger\">注册</button>\n" +
                "                </a>\n" +
                "                <a href=\"/login\">\n" +
                "                    <button type=\"button\" class=\"btn btn-primary\">登录</button>\n" +
                "                </a>");
            initDropzone("/ocr-result/" + ocr_type);
        });
    });
</script>