<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/register.css') }}">
    <script src="{{ url_for('assets', path='/dist/js/jquery.min.js') }}/"></script>
    <script src="{{ url_for('assets', path='/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/js.cookie.min.js') }}/"></script>
</head>

<body class="text-center">
<form class="form-register">
    <h1 class="h3 mb-3 font-weight-normal">用户注册</h1>
    <label for="username" class="sr-only">用户名</label>
    <input id="username" class="form-control" placeholder="用户名" required autofocus>
    <label for="password" class="sr-only">密码</label>
    <input type="password" id="password" class="form-control" placeholder="密码" required>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="register-button">注册</button>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                网络出错！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" id="modalButton">确认</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<script>
    $(document).ready(function () {
        function init_button() {
            $("#modalButton").unbind("click").bind("click", function () {
                $.ajax({
                    type: "POST",
                    url: '/token',
                    data: {username: $("#username").val(), password: $("#password").val()},
                    dataType: "json"
                }).done(function (response) {
                    $(location).attr('href', '/my');
                }).fail(function (err) {
                    $('#exampleModalLabel').html("跳转失败");
                    $('#modalBody').html("网络出错！");
                    $('#modalButton').addClass("btn-danger");
                    $('#exampleModal').modal('show');
                });
            });
        }

        $("#register-button").unbind("click").bind("click", function () {
            $.ajax({
                type: "POST",
                url: '/user/',
                data: {name: $("#username").val(), password: $("#password").val()},
                dataType: "json"
            }).done(function (response) {
                if (response["result"] === "ok") {
                    $('#exampleModalLabel').html("注册成功");
                    $('#modalBody').html("点击确认按钮跳转到个人页面");
                    $('#modalButton').addClass("btn-primary");
                    init_button();
                } else {
                    $('#exampleModalLabel').html("注册失败");
                    $('#modalBody').html(response["result"]);
                    $('#modalButton').addClass("btn-danger");
                }
                $('#exampleModal').modal('show');
            }).fail(function (err) {
                $('#exampleModalLabel').html("注册失败");
                $('#modalButton').addClass("btn-danger");
                $('#exampleModal').modal('show');
            });
        });
    });
</script>