<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/user.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/dist/css/component-dropzone.min.css') }}">
    <script src="{{ url_for('assets', path='/dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/dropzone.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/js.cookie.min.js') }}/"></script>
    <title>在线识别</title>

</head>
<body>


<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky pt-3">
                <div class="user-account">
                    <img src="/{{user_photo_path}}" class="img-fluid rounded-circle photo-thumb-max"
                         alt="User Profile Picture">
                    <div class="dropdown">
                        <a><strong>{{username}}</strong></a>
                    </div>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item" id="info">
                        <a class="nav-link active" href="/my/info">
                            修改个人信息
                        </a>
                    </li>
                    <li class="nav-item" id="history">
                        <a class="nav-link" href="/my/history">
                            历史记录
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <h4 class="text-right">个人资料</h4>
            </div>
            <div class="row mt-3 justify-content-center align-self-center">
                <img id="dropzone" src="/{{user_photo_path}}"
                     class="img-fluid rounded-circle dropzone dz-clickable photo-max"
                     alt="User Profile Picture">
            </div>
            <div class="row justify-content-center align-self-center">点击修改头像</div>

            <div class="row mt-2 justify-content-center">
                <div class="col-md-6">
                    <label for="new-password" class="sr-only">密码</label>
                    <input id="new-password" type="password" class="form-control" placeholder="新密码">
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-md-6">
                    <label for="confirm-password" class="sr-only">密码</label>
                    <input id="confirm-password" type="password" class="form-control" placeholder="确认密码">
                </div>
            </div>

            <div class="mt-5 text-center">
                <button id="saveButton" class="btn btn-primary profile-button" type="button">保存更改</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">修改结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="result">
                修改成功
            </div>
            <div class="modal-footer">
                <button id="changePhotoResultReloadButton" type="button" class="btn btn-info" data-dismiss="modal">确认
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">修改信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorMessage">
                网络出错啦！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    Dropzone.autoDiscover = false;
    $("#dropzone").dropzone({
        url: "/user/photo/",
        headers: {"X-CSRF-TOKEN": Cookies.get("csrf_access_token")},
        init: function () {
            this.on('success', function (file, responseText) {
                this.removeAllFiles();
                $('#resultModal').modal('show');
            });
            this.on('error', function () {
                this.removeAllFiles();
                $('#errorModal').modal('show');
            });
        }
    });

    $(document).ready(function () {
        $("#changePhotoResultReloadButton").unbind("click").bind("click", function () {
            location.reload();
        });
        $("#saveButton").unbind("click").bind("click", function () {
            $.ajax({
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRF-TOKEN", Cookies.get("csrf_access_token"));
                },
                type: "PATCH",
                url: '/user/password/',
                data: JSON.stringify({"password": $("#new-password").val()}),
                dataType: "json"
            }).done(function (response) {
                $('#resultModal').modal('show');
            }).fail(function (err) {
                $('#errorModal').modal('show');
            });
        });
    });
</script>