<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{{ url_for('assets', path='/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('assets', path='/dist/css/user.css') }}" rel="stylesheet">
    <script src="{{ url_for('assets', path='/dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/dist/js/js.cookie.min.js') }}/"></script>
    <title>在线识别</title>

</head>
<body>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" id="sidebarMenu">
            <div class="sidebar-sticky pt-3">
                <div class="user-account">
                    <img alt="User Profile Picture" class="img-fluid rounded-circle photo-thumb-max"
                         src="/{{user_photo_path}}">
                    <div class="dropdown">
                        <a><strong>{{username}}</strong></a>
                    </div>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item" id="info">
                        <a class="nav-link" href="/my/info">
                            修改个人信息
                        </a>
                    </li>
                    <li class="nav-item" id="history">
                        <a class="nav-link active" href="/my/history">
                            历史记录
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container" id="history_list">

</div>

<div aria-hidden="true" aria-labelledby="resultModalLabel" class="modal fade" id="resultModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">识别结果</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="result">
                无法显示结果
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" type="button">确认</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="errorModalLabel" class="modal fade" id="errorModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">识别结果</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorMessage">
                网络出错啦！
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">确认</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="delResultModalLabel" class="modal fade" id="delResultModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delResultModalLabel">删除</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="delResultMessage">
                网络出错啦！
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="delResultReloadButton" type="button">确认</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    $(document).ready(function () {
        $("#delResultReloadButton").unbind("click").bind("click", function () {
            location.reload();
        });
        $.ajax({
            type: "GET",
            url: '/user/history/',
            dataType: "json"
        }).done(function (response) {
                var index = 0;
                let pretty_ocr_type_dict = {"normal": "普通", "book": "书籍", "card": "证件"};
                for (const item of response) {
                    let date = new Date(parseFloat(item[2]) * 1000);
                    let localDate = date.toLocaleDateString("zh-cn");
                    let hash = item[4];
                    let ocr_type = item[0];
                    let result = item[1];
                    $('#history_list').append("<div class=\"card w-75 mx-auto\">\n" +
                        "        <div class=\"row no-gutters\">\n" +
                        "            <div class=\"col-md-4\">\n" +
                        "                <img src=\"/" + item[3] + "\" class=\"card-img\">\n" +
                        "            </div>\n" +
                        "            <div class=\"col-md-8\">\n" +
                        "                <div class=\"card-body\">\n" +
                        "                    <h5 class=\"card-title\">" + localDate + "</h5>\n" +
                        "                    <p class=\"card-text\">" + pretty_ocr_type_dict[ocr_type] + "<a id='view-" + index.toString() + "' class=\"btn btn-primary float-right\">查看结果</a></p>" + "<a id='del-" + index.toString() + "' class=\"btn btn-danger float-right\">删除记录</a></p>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    </div>");
                    $('#view-' + index.toString()).click(function () {
                        $('#result').empty();
                        for (const i of result) {
                            $('#result').append("<p>" + i + "</p>");
                        }
                        $('#resultModal').modal('show');
                    });
                    $('#del-' + index.toString()).click(function () {
                        $.ajax({
                            beforeSend: function (request) {
                                request.setRequestHeader("X-CSRF-TOKEN", Cookies.get("csrf_access_token"));
                            },
                            type: "DELETE",
                            url: '/user/history/' + ocr_type + "/" + hash,
                        }).done(function (response) {
                            let result = response['result'];
                            if (result === "ok") {
                                $('#delResultMessage').html("删除成功");
                                $('#delResultModal').modal('show');
                            }
                        }).fail(function (err) {
                            $('#errorModal').modal('show');
                        });
                    });
                    index = index + 1;
                }
            }
        );
    });
</script>